@charset "UTF-8";

body {
    background-color: rgb(114, 177, 156);
    font: normal 13pt system-ui;
}

header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.566);
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.423);
}

div#res {
    margin-bottom: 18px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}